body {
    text-align: center;
}

a, img {
    height: 60px;
    width: 75px;
}

body div img {
    height: 65px;
    width: 75px;
}

.header {
    background-color: var(--primary);
    color: var(--text-primary);
    margin: 0%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header div {
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-primary);
}

h1, p {
    margin: 0%;
}

form {
    text-align: center;
}

.btn {
    border-radius: 20px;
    color: var(--primary);
    background-color: var(--light);
    height: 50px;
    width: 300px;
    margin: auto;

}

#accueil {
    background-color: var(--secondary);
    color: var(--text-primary);
    height: 100%;
    margin-top: 50px;
    
}

#accueil h1 {
    text-align: center;
}

#accueil div {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 1.2rem;
}

.imgProduct {
    width: 60px;
    height: 60px;
}
body {
    background-color: var(--secondary);
    height: 100vh;
    margin: 0;
}

#productList li {
    list-style: none;
    color: var(--text-primary);
}


:root {
    --primary: #130f40;
    --secondary: #4834d4;
    --light: #95afc0;
    --text-primary: #dff9fb;

}

* {
    font-family: 'AR One Sans', sans-serif;
}

#confidential {
    display: block;
}